.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  color: white;
  margin-top: 4%;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 70%;
  overflow: auto;
  background-color: rgb(0, 0, 0,0.9);
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/*modal content*/
.par {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


/* original */
#portfolio{
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    background-color: lightgrey;
    text-align: center;
}

.grpbox{
    display: flex;
    flex-wrap: nowrap;
}

.box1{
    background-color: blanchedalmond;
    width: 300px;
    height: 400px;
    background-image: url(001.jpg);
    background-size: 800px;
    background-position-x: -180px;
    justify-content: start;
    position: relative;

}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: black;
}

.box1:hover .overlay{
    opacity: 1;
}

.overlayHover{
    height: 0;
    width: 100%;
    bottom:0;
    left: 0;
    background-color: rgb(0,0,0, 0.9);

}

.box1:hover .overlayHover{
    height: 100%;
}

.text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.box2{
    background-color: blanchedalmond;
    width: 300px;
    height: 200px;
    background-image: url(002.jpg);
    background-size: 300px;
    /* background-position-x: -180px; */
    justify-content: start;
    position: relative;
}

.box2:hover .overlay{
    opacity: 1;
}

.box2:hover .overlayHover{
    height: 100%;
}

.box3{
    background-color: blanchedalmond;
    width: 300px;
    height: 200px;
    background-image: url(003.jpg);
    background-size: 300px;
    /* background-position-x: -180px; */
    justify-content: start;
    padding-top: 200px;
    position: relative;
}

.box3:hover .overlay{
    opacity: 1;
}

.box3:hover .overlayHover{
    height: 100%;
}


.box4{
    background-color: blanchedalmond;
    width: 300px;
    height: 400px;
    background-image: url(004.jpg);
    background-size: 800px;
    background-position-x: -180px;
    justify-content: start;
    position: relative;
}

.box4:hover .overlay{
    opacity: 1;
}

.box4:hover .overlayHover{
    height: 100%;
}